body {
	font: normal 15px/27px Arial;
}

	.main-wrapper {
		margin: 0 auto;
		width: 65%;
	}

		.sb-header {
			text-align: center;
		}

			.sb-header img {
				width: 65%;
			}
	/*
		input[name="studentid"] {
			visibility: hidden;&
		}
	*/

	.stars {
		position: absolute;
		text-align: center;
		z-index: 100;
		width: 65%;
		margin: 25% 0 0 0;
	}

	.star {
		font-size: 4.0rem;
		background: #0F0096;
		color: #FFF;
		padding: 5px;
	}